:root {
    --color-princ : red;
    --width-screen : 90%;
}
.logo{
    width: 100px;
    height: 100px;
}
.image1{
    width: var(--width-screen);
}
.koora{
    color: var(--color-princ);
}
.fai1{
    width: 90px;
    border-radius: 50%;
    height: 100px;
}
.r1{
    width: 30%;
    background-color: white;
    padding: 1%;
    border-radius: 50%;
    
}
.pool{
    width: var(--width-screen);
    height: 250px;
}
.koora2{
    width: 50%;
    position:absolute;
    right: 30px;
   
}

.promos {
    top: 20px; 
    left: 80px;
}
